.navigation {
    width: 100%;
    height: 70px;
    background:rgb(53, 53, 53);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .logo {
        width: 20%;
        img {
            width: 200px;
        }
    }

    .menu {
        width: 80%;
    }


}

header {
    width: 100vw;
    height: 80vh;
    background: url('../img/interior.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    h1 {
        font-size: 3.125em;
        color: orange;
        text-shadow: 2px 1px black;
        text-transform: uppercase;
    }

    p {
        font-size: 2.0em;
        color: white;
        text-shadow: 2px 2px black;
    }

    .text-content {
        text-align: center;

        a {
            text-decoration: none;
        }

        .content-top {
            padding-top: 300px;
        }
    
        .contact_button {
            padding-top: 150px;
        }
    }

    
}

@media (max-width: 1200px) { 
   
    .navigation {
        
    
        .logo {

            img {

            }
        }
    
        .menu {
            nav {
                button {
                    position: absolute;
                    right: 0;
                }

                .navbar-nav {
                    position: absolute;
                    right: 0;
                }
            }
        }
    
    
    }

 }